
{% extends 'core/base.html' %}
{% block title %}Productos{% endblock title %}
  
{% block background %}{% load static %}{% static 'core/img/background2.jpg' %}{% endblock background %}

{% block headers %}<h1>SmartIoT</h1><span class="subheading">Prodcutos destacados. </span>{% endblock %}
{% block content %}
<div class="container col-12">
  <div class="row justify-content-md-center ">
  {% for producto in productos  %}
<div class="card m-1 col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
  <img src="{{producto.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{producto.title}}</h5>
    <p class="card-text">{{producto.description}}</p>
    <a href="#" class="btn btn-primary">{{producto.price}}€</a>
  </div>
</div>
{% endfor %}
</div>
</div>
{% endblock content %}



